/* Contact Card */

.contact-icons {
  display: flex;
  justify-content: center;

  .social-link {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    text-align: center;
    width: 3rem;

    .social {
      font-size: 1.5rem;
    }

    .social-svg {
      fill: $accent-color;
    }

    &:hover {
      cursor: pointer;
      animation: jump 1s infinite alternate;

      .social-svg {
        fill: $social-icon-fill;
      }
    }
  }

  .black:hover {
    .social-svg {
      fill: $social-black-icon;
    }
  }

  .linkedin:hover {
    .social-svg {
      fill: #007bb6;
    }
  }

  .twitter:hover {
    .social-svg {
      fill: #1da1f2;
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  .contact-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }
}


@media only screen and (min-width: $medium-screen) {


}