/* Footer */

.footer {
  background: $bg-color;
  color: $text-color;
  margin: 0.1rem;
  padding: 0.1rem;
  font-size: small;
  text-align: center;
}

.footer a {
  color: $link-color;

  &:hover,
  &:focus {
    background: $bg-color;
    color: $text-color;
  }
}
