/* Layout */

.layout {
  margin: 0.5rem;
  max-width: $max-card-width;
  padding: 1rem 1rem;
}

.layout .card {
  background: $card-bg-color;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 1rem 1rem;
}

.layout .card .title {
  text-align: center;
  position: relative;
}

.layout .card .subtitle {
  text-align: center;
  font-size: small;
}

.layout .card .description {
  padding: 0 1.5rem;
  text-align: left;
}

.neumorphism-button {
  background: $neumorphism-button-bg;
  box-shadow: $neumorphism-button-box-shadow;
}

@mixin neumorphism-button-pressed {
  background: $neumorphism-button-pressed-bg;
  box-shadow: $neumorphism-button-pressed-box-shadow;
}

.neumorphism-card {
  box-shadow: $neumorphism-card-box-shadow;
}

.neumorphism-card-big {
  box-shadow: $neumorphism-card-big-box-shadow;  
}

@media only screen and (max-width: $small-screen) {
  .layout {
    margin: 0.2rem 0rem;
    padding: 1rem 0.2rem;
  }

  .layout .card .subtitle {
    font-size: small;
  }

  .layout .card .description {
    font-size: 1rem;
    padding: 0.3rem;
  }

  .landing-title h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .layout h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  

  .landing-icons .social-link {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;

    .social {
      font-size: 0.5rem;
    }
  }
}




@media only screen and (min-width: $medium-screen) {
  .layout {
    margin: 1rem auto;
    padding: 2rem 1rem;
  }

  .layout .card .subtitle {
    font-size: medium;
  }

  .layout .card .description {
    font-size: 1.25rem;
  }

  .landing-title h1 {
    font-size: 3rem;
  }

  .landing-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }
}

/*

@media only screen and (min-width: $large-screen) {
  .layout {
    padding: 3rem 3rem;
  }

  .layout .card {
    padding: 1rem 3rem;
  }
}

*/

/*

@media only screen and (min-width: $xlarge-screen) {
  .layout {
    padding: 3rem 3rem;
  }

  .layout .card {
    padding: 1rem 3rem;
  }
}

*/