/* Media Queries */

@media only screen and (min-width: $small-screen) {
  .layout {
    margin: 1rem auto;
    padding: 2rem 1rem;
  }

  .layout .card .subtitle {
    font-size: 1.25rem;
  }

  .layout .card .description {
    font-size: 1.25rem;
  }

  .landing-title h1 {
    font-size: 3rem;
  }

  .landing-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }

  
/* Menu */

.hamburger-menu {
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.menu__box {
  flex-direction: row;
  top: -150px;
  width: auto;
  height: auto;
  padding: 40px 20px 10px;
}

.menu__btn {
  top: 0.5rem;
  left: 0.5rem;
  //width: 10%;
  //height: 5%;
}


  #skills {
    div[skill-weight="1"] {
      font-size: 0.75rem;
      line-height: 0rem;
    }

    div[skill-weight="2"] {
      font-size: 1.5rem;
      line-height: 0.5rem;
    }

    div[skill-weight="3"] {
      font-size: 2.25rem;
      line-height: 1.25rem;
    }

    div[skill-weight="4"] {
      font-size: 3.75rem;
      line-height: 2.75rem;
    }

    div[skill-weight="5"] {
      font-size: 6rem;
      line-height: 5rem;
    }

    .filter-button {
      border-radius: 0.25rem;
      cursor: pointer;
      display: unset;
      margin: 0 0.25rem 1rem;
      padding: 0.25rem 0.5rem;
      text-align: center;
      width: 21%;
      transition: 0.75s;

      &:hover {
        letter-spacing: 0.15rem;
        transition: 0.75s;
      }
    }

    input[id="language"]+.filter-button {
      &:hover {
        color: $skill-color-language;
      }
    }

    input[id="framework"]+.filter-button {
      &:hover {
        color: $skill-color-framework;
      }
    }

    input[id="tool"]+.filter-button {
      &:hover {
        color: $skill-color-tool;
      }
    }

    @mixin filter-out {
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 0;
      transition: opacity 0s;
    }

    input[id="all"]:checked+.filter-button {
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="language"]:checked+.filter-button {
      color: $skill-color-language;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="language"]:checked~input[id="framework"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-framework;
      }
    }

    input[id="language"]:checked~input[id="tool"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-tool;
      }
    }

    input[id="framework"]:checked+.filter-button {
      color: $skill-color-framework;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="framework"]:checked~input[id="language"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-language;
      }
    }

    input[id="framework"]:checked~input[id="tool"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-tool;
      }
    }

    input[id="tool"]:checked+.filter-button {
      color: $skill-color-tool;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="tool"]:checked~input[id="language"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-language;
      }
    }

    input[id="tool"]:checked~input[id="framework"]+.filter-button {
      color: $text-color;

      &:hover {
        color: $skill-color-framework;
      }
    }

    input[id="all"]:checked~input[id="language"]+.filter-button {
      color: $skill-color-language;
    }

    input[id="all"]:checked~input[id="framework"]+.filter-button {
      color: $skill-color-framework;
    }

    input[id="all"]:checked~input[id="tool"]+.filter-button {
      color: $skill-color-tool;
    }

    input[id="language"]:checked~div[skill-type="framework"],
    input[id="language"]:checked~div[skill-type="tool"] {
      @include filter-out;
    }

    input[id="framework"]:checked~div[skill-type="language"],
    input[id="framework"]:checked~div[skill-type="tool"] {
      @include filter-out;
    }

    input[id="tool"]:checked~div[skill-type="language"],
    input[id="tool"]:checked~div[skill-type="framework"] {
      @include filter-out;
    }
  }

  .timeline-wrapper {
    .timeline {
      margin: 0 auto;
      width: $timeline-width;
    }

    .timeline li:after {
      clear: both;
      content: "";
      display: block;
    }

    .direction-l {
      float: left;
      text-align: right;
      width: $timeline-direction-width;

      .hexagon {
        left: auto;
        right: -1.6rem;
        top: 0.4rem;
      }

      .flag-wrapper {
        display: relative;
        text-align: right;
      }

      .time-wrapper {
        float: bottom;
        margin-top: -0.1rem;
      }

      .desc {
        text-align: right;
      }
    }

    .direction-r {
      float: right;
      text-align: left;
      width: $timeline-direction-width;

      .hexagon {
        left: -1.6rem;
        right: auto;
        top: 0.4rem;
      }

      .flag-wrapper {
        display: inline-block;
        text-align: left;
      }

      .time-wrapper {
        float: bottom;
        margin-top: -0.1rem;
      }

      .desc {
        text-align: left;
      }
    }
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >* {
      width: 44%;
    }
  }

  .contact-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }
}

/* @media only screen and (min-width: $medium-screen) {
  .layout {
    padding: 3rem 3rem;
  }

  .layout .card {
    padding: 1rem 3rem;
  }

  #skills .filter-button {
    width: 21.5%;
  }

  .timeline-wrapper {
    .timeline {
      width: 48rem;
    }

    .direction-l {
      width: 23.35rem;
    }

    .direction-r {
      width: 23.35rem;
    }
  }

  .projects-wrapper {
    > * {
      width: 45%;
    }
  }
} */

/*@media only screen and (min-width: $large-screen) {
  .layout {
    padding: 3rem 3rem;
  }

  .layout .card {
    padding: 1rem 3rem;
  }

  #skills .filter-button {
    width: 21.5%;
  }

  .timeline-wrapper {
    .timeline {
      width: 46rem;
    }

    .direction-l {
      width: 21.9rem;
    }

    .direction-r {
      width: 21.9rem;
    }
  }

  .projects-wrapper {
    > * {
      width: 45%;
    }
  }
}*/



