/* Menu */

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;
  pointer-events: none;
}

.menu__box {
  position: relative;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  top: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: $text-color;
  background-color: $menu-bg-color;
  border-radius: 1rem;
  box-shadow: $menu-box-shadow;
  transition: opacity 0.5s ease-in-out, top 0.75s ease;
  z-index: 4010;
}

.menu__box.show {
  opacity: 1;
  top:0px;
}

.menu__btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: all;
  top: 0.5rem;
  left: 2rem;
  width: 50px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  z-index: 4020;
  background-color: $menu-button-box-color; 
  border-radius: 5px;
  box-shadow: $menu-button-box-shadow;
  box-sizing: border-box;
}


.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width:30px;
  height: 3px;
  background-color: $menu-button-color;
  transition: transform .5s ease, top 0.5s ease, background 0.5s ease;
  border-radius: 4px;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__btn.active>span {
  //transform: rotate(45deg);
  background: transparent;
}

.menu__btn.active>span::before {
  content: '';
  position: absolute;
  height: 3px;
  top: 0;
  transform: rotate(45deg);
  background-color: $menu-button-color;
}

.menu__btn.active>span::after {
  content: '';
  position: absolute;
  height: 3px;
  top: 0;
  transform: rotate(-45deg);
  background-color: $menu-button-color;
}

.menu__item {
  display: block;
  padding: 12px 16px;
  font-family: $font-family-h2 ;
  font-style: italic;
  color: $menu-item-color;
  text-align: center;
  text-shadow: $menu-item-text-shadow;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  .social-svg{ 
    fill: $menu-item-color;
    padding: 2px 0 0 0;
  }
}

.menu__item:hover {
  color: $menu-item-highlight-color;
  background-color: $menu-item-bg-color;
  box-shadow: $menu-item-highlight-shadow;
  transform: scale(1.1);
  border-radius: 4px;
  left: auto;
  .social-svg{
    fill: $menu-item-highlight-color;
  }
}
