/* Palette */

$leaf-green: #3cb371;
$terminal-green: #00ff66;
$greenblue: #4fe0b7;
$main-blue: #60c0ff;
$dodger-blue: #1e90ff;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.5);
$darkgray: rgba(40, 47, 47, 1);
$darkgray-transparent: rgba(20, 20, 20, 0.4);
$darkgray-lesstransparent: rgba(20, 20, 20, 0.95);
$gray: rgba(105, 105, 105, 1);
$gray-transparent: rgba(105, 105, 105, 0.15);
$gray-lesstransparent: rgba(105, 105, 105, 0.15);
$lightgray: rgba(210, 210, 210, 1);
$lightgray-transparent: rgba(210, 210, 210, 0.4);
$lightgray-moretransparent: rgba(210, 210, 210, 0.2);
$white: #fff;


$text-color: $white !default;
$bg-color: $darkgray;

$card-bg-color: linear-gradient(145deg,
    $gray-transparent 15%,
    $darkgray 80%);


$primary-color: $leaf-green;
$accent-color: $main-blue;
$link-color: $dodger-blue;
$skill-color-language: $main-blue;
$skill-color-framework: $terminal-green;
$skill-color-tool: $greenblue;
$shade-color: $black-transparent;
$hexagon-color: $greenblue;
$card-big-shadow-dark: $black;
$card-big-shadow-light: $gray;
$card-shadow-dark: $black;
$card-shadow-light: $gray;
$button-fill-dark: $darkgray-transparent;
$button-fill-light: $gray-transparent;
$button-shadow-dark: $black;
$button-shadow-light: $lightgray-transparent;
$button-pressed-text: $primary-color;
$social-icon-fill: $white;
$social-icon-circle: $white;
$social-hover-fill: $black;
$social-black-icon: $black;
$timeline-line-light: $lightgray;
$timeline-line-lighter: $lightgray-transparent;
$timeline-arrows-color: $accent-color;
$timeline-line-color: 
    linear-gradient(to bottom,
    $timeline-line-lighter 0%,
    $timeline-line-light 4%,
    $timeline-line-light 92%,
    $timeline-line-lighter 100%);

$menu-bg-color: $darkgray-lesstransparent;
$menu-shadow-color: $darkgray-transparent;
$menu-box-shadow: 3px 6px 6px $menu-shadow-color;
$menu-button-color: $lightgray;
$menu-button-box-color: $lightgray-transparent;
$menu-button-box-shadow:  
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
$menu-item-color: $text-color;
$menu-item-highlight-color: $primary-color;
$menu-item-bg-color: $lightgray-moretransparent;
$menu-item-highlight-shadow-color: $lightgray-moretransparent;
$menu-item-text-shadow-color: $black-transparent;
$menu-item-text-shadow: 1px 1px 2px $menu-item-text-shadow-color;
$menu-item-highlight-shadow:  0px 0px 4px $menu-item-highlight-shadow-color;

$preloader-square1: $text-color;
$preloader-square2: $primary-color;
$preloader-square3: $text-color;
$preloader-square4: $accent-color;

$h2-text-shadow: 0.125rem 0.125rem 0.25rem $shade-color;
$highlight-title-text-shadow: 0.125rem 0.125rem 0.125rem $shade-color;
$highlight-link-box-shadow: inset 0 -0.125rem 0 $link-color;
$highlight-link-box-shadow-hover: inset 0 -2rem 0 0 $link-color;

$neumorphism-button-bg: 
    linear-gradient(145deg,
    $button-fill-light 15%,
    $button-fill-dark 80%);

$neumorphism-button-box-shadow: 
    -1px -1px 1px 0 $button-shadow-light,
    1px 1px 1px 0 $button-shadow-dark;

$neumorphism-button-pressed-bg:  
    linear-gradient(150deg,
    $button-fill-dark 10%,
    $button-fill-light 80%);

$neumorphism-button-pressed-box-shadow:
    1px 1px 0.75px 0 $button-shadow-light,
    -1px -1px 0.75px $button-shadow-dark,
    inset 0.5px 0.5px 0.5px 0 $button-shadow-dark,
    inset -0.5px -0.5px 0.5px $button-shadow-light;

$neumorphism-card-box-shadow:
    inset 0.5px 0.5px 1px $card-shadow-dark,
    inset -0.5px -0.5px 1px $card-shadow-light;

$neumorphism-card-big-box-shadow:
    1px 1px 0.75px $card-big-shadow-dark, 
    -1px -1px 0.75px $card-big-shadow-light;



