/* Imports */

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sourse+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

/* Variables */

$small-screen: 48em !default;
$medium-screen: 62em !default;
$large-screen: 75em !default;
$font-family: "Source Sans 3", sans-serif;
$font-family-numbers: "Ubuntu Mono";
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 400;

/* Palette */

$leaf-green:  #3cb371;
$terminal-green: #00ff66;
$greenblue: #4fe0b7;
$main-blue: #60c0ff;
$dodger-blue: #1e90ff;
$black: #000;
$black-transparent: rgba(0,0,0,0.5);
$darkgray: rgba(40,47,47,1);
$darkgray-transparent: rgba(20, 20, 20, 0.4);
$gray: rgba(105, 105, 105, 1);
$gray-transparent:  rgba(105, 105, 105, 0.15);
$lightgray: rgba(210, 210, 210, 1);
$lightgray-transparent: rgba(210, 210, 210, 0.4);
$white: #fff;


$text-color: $white !default;
$bg-color: $darkgray;

$card-bg-color: linear-gradient(
  145deg,
  $gray-transparent 15%,
  $darkgray 80%
);


$primary-color: $leaf-green;
$accent-color: $main-blue;
$link-color: $dodger-blue;
$skill-color-language: $main-blue;
$skill-color-framework: $terminal-green;
$skill-color-tool: $greenblue;
$shade-color: $black-transparent;
$hexagon-color: $greenblue;
$card-big-shadow-dark: $black;
$card-big-shadow-light: $gray;
$card-shadow-dark: $black;
$card-shadow-light: $gray;
$button-fill-dark: $darkgray-transparent;
$button-fill-light: $gray-transparent;
$button-shadow-dark: $black;
$button-shadow-light: $lightgray-transparent;
$button-pressed-text: $primary-color;
$social-icon-fill: $white;
$social-icon-circle: $white;
$social-hover-fill: $black;
$social-black-icon: $black;
$timeline-line-light: $lightgray;
$timeline-line-lighter: $lightgray-transparent;
$timeline-arrows-color: $accent-color;



/* General */

html {
  background: $bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

/* Typography */

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  line-height: 2rem;
}

h2 {
  color: $primary-color;
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  text-shadow: 0.125rem 0.125rem 0.125rem $shade-color;

  line-height: 2rem;
}

p {
  word-spacing: 0.1rem;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

.highlight-title {
  color: $accent-color;
  text-shadow: 0.125rem 0.125rem 0.125rem $shade-color;
}

.highlight-link {
  box-shadow: inset 0 -0.125rem 0 $link-color;
  box-sizing: border-box;
  color: $link-color;
  display: inline-block;
  padding: 0.125rem 0.125rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: inset 0 -2rem 0 0 $link-color;
    color: $text-color;
  }
}

/* Layout */

.layout {
  margin: 0.5rem;
  max-width: $large-screen;
  padding: 0.5rem 0.5rem;
}

.layout .card {
  background: $card-bg-color;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 1rem 1rem;
}

.layout .card .title {
  text-align: center;
  position: relative;
}

.layout .card .subtitle {
  text-align: center;
}

.layout .card .description {
  text-align: left;
}

.neumorphism-button {
  background: linear-gradient(
    145deg,
    $button-fill-light 15%,
    $button-fill-dark 80%
  );
  box-shadow: -0.75px -0.5px 0.25px 0 $button-shadow-light,
    0.75px 0.75px 0.25px 0 $button-shadow-dark;
}

@mixin neumorphism-button-pressed {
  background: linear-gradient(
    150deg,
    $button-fill-dark 10%,
    $button-fill-light 80%
  );
  box-shadow: 0.25px 0.25px 0.25px 0 $button-shadow-light,
    -0.12px -0.12px 0.25px $button-shadow-dark, 
    inset 0.5px 0.5px 0.25px 0 $button-shadow-dark,
    inset -0.12px -0.25px 0.25px $button-shadow-light;
}

.neumorphism-card {
  box-shadow: inset 0.5px 0.5px 1px $card-shadow-dark,
    inset -0.5px -0.5px 1px $card-shadow-light;
}

.neumorphism-card-big {
  box-shadow: 1px 1px 0.75px $card-big-shadow-dark, -1px -1px 0.75px $card-big-shadow-light;
}

/* Preloader */

#preloader {
  align-items: center;
  background: $bg-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  z-index: 999;

  .load {
    height: 6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
  }

  .load hr {
    animation: spin 2s ease infinite;
    border: 0;
    height: 40%;
    margin: 0;
    position: absolute;
    width: 40%;
  }

  .load :first-child {
    animation-delay: -1.5s;
    background: $text-color;
  }

  .load :nth-child(2) {
    animation-delay: -1s;
    background: $primary-color;
  }

  .load :nth-child(3) {
    animation-delay: -0.5s;
    background: $text-color;
  }

  .load :last-child {
    background: $accent-color;
  }

  @keyframes spin {
    0%,
    100% {
      transform: translate(0);
    }
    25% {
      transform: translate(160%);
    }
    50% {
      transform: translate(160%, 160%);
    }
    75% {
      transform: translate(0, 160%);
    }
  }
}

/* Footer */

.footer {
  background: $bg-color;
  color: $text-color;
  margin: 0.1rem;
  padding: 0.1rem;
  font-size: small;
  text-align: center;
}

.footer a {
  color: $link-color;

  &:hover,
  &:focus {
    background: $bg-color;
    color: $text-color;
  }
}

/* Landing Page */

#landing {
  background: $bg-color;
  color: $text-color;
  display: flex;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.landing-title {
  left: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 40%;
}

.landing-icons {
  display: flex;
  justify-content: center;

  .social-link {
    color: $text-color;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    width: 3rem;

    .circle {
      animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
      fill: none;
      stroke-dasharray: 40;
      transition: all 0.2s ease-in-out;
    }

    .social {
      font-size: 1.5rem;
      position: absolute;
      top: 0px;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }

    .social-svg {
      fill: $social-icon-fill;
    }

    .label {
      display: none;
    }

    &:hover {
      cursor: pointer;

      .circle {
        animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
          colorBlackIcon 1s linear forwards;
        fill: $social-icon-circle;
        fill-opacity: 1;
      }

      .social-svg {
        fill: $social-hover-fill;
      }

      .label {
        display: unset !important;
        position: relative;
        top: -2rem;
      }
    }
  }

  .email:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorEmail 1s linear forwards;
    }
    .social-svg {
      fill: $accent-color;
    }
  }

  .linkedin:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorLinkedin 1s linear forwards;
    }
    .social-svg {
      fill: #007bb6;
    }
  }

  .twitter:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorTwitter 1s linear forwards;
    }
    .social-svg {
      fill: #1da1f2;
    }
  }

  @keyframes outWaveIn {
    to {
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
  }

  @keyframes outWaveOut {
    from {
      stroke: $text-color;
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
    to {
      stroke: $text-color;
      stroke-dasharray: 83;
      stroke-width: 0.5rem;
    }
  }

  @keyframes colorBlackIcon {
    to {
      stroke: $social-black-icon;
    }
  }

  @keyframes colorEmail {
    to {
      stroke: $accent-color;
    }
  }

  @keyframes colorLinkedin {
    to {
      stroke: #007bb6;
    }
  }

  @keyframes colorTwitter {
    to {
      stroke: #1da1f2;
    }
  }
}

/* Skills Section */

#skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 2rem;

  div {
    padding: 0.5rem;
    opacity: 1;
    transition: opacity 2s ease-out;
  }

  div[skill-type="language"] {
    color: $skill-color-language;
  }

  div[skill-type="framework"] {
    color: $skill-color-framework;
  }

  div[skill-type="tool"] {
    color: $skill-color-tool;
  }

  div[skill-weight="1"] {
    font-size: 0.5rem;
    line-height: 0.1rem;
  }

  div[skill-weight="2"] {
    font-size: 1rem;
    line-height: 0.5rem;
  }

  div[skill-weight="3"] {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  div[skill-weight="4"] {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  div[skill-weight="5"] {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  input[type="radio"] {
    display: none;
  }

  .filter-button {
    display: none;
  }

  .filter-button[id="language"]{
    color: $skill-color-language;
  }

}

/* Timeline Section */

.timeline-wrapper {
  .timeline {
    list-style-type: none;
    line-height: 1rem;
    padding: 0;
    position: relative;
  }


  .timeline:before {
    background: linear-gradient(
      to bottom,
      $timeline-line-lighter 0%,
      $timeline-line-light 4%,
      $timeline-line-light 92%,
      $timeline-line-lighter 100%
    );
    content: " ";
    height: 100%;
    left: 50%;
    margin-left: -0.0675rem;
    position: absolute;
    width: 0.125rem;
    z-index: -1;
  }

  .timeline li {
    padding: 1rem 0;
  }

  .hexagon {
    background: $hexagon-color;
    height: 0.5rem;
    left: 0;
    border-radius: 0.06rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
    top: -0.8rem;
    width: 1rem;
  }

  .hexagon:before,
  .hexagon:after {
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
    content: "";
    left: 0;
    position: absolute;
  }

  .hexagon:before {
    border-bottom: 0.25rem solid $hexagon-color;
    top: -0.23rem;
  }

  .hexagon:after {
    border-top: 0.25rem solid $hexagon-color;
    bottom: -0.23rem;
  }

  .flag-wrapper {
    position: relative;
    text-align: center;
  }

  .flag {
    background: $bg-color;
    border-radius: 0.25rem;
    font-weight: $font-weight-strong;
    padding: 0.5rem 0.5rem;
    line-height: 2.3rem;

    span {
      position: relative;
      transition: 0.4s;
    }

    span:after {
      content: "\226B";
      color: $timeline-arrows-color;
      position: absolute;
      opacity: 0;
      right: -1rem;
      transition: 0.4s;
    }

    &:hover span {
      letter-spacing: 0.05rem;
      padding-right: 0rem;
    }

    &:hover span:after {
      opacity: 0;
      right: 0;
    }
  }

  .time-wrapper {
    color: $text-color;
    display: block;
    line-height: 2.65em;
    margin: 0.2rem;
  }

  .time {
    background: $bg-color;
    border-radius: 0.25rem;
    display: inline-block;
    padding: .6rem .4rem;
    line-height: 1rem;
  }

  .desc {
    background: $bg-color;
    border-radius: 0.25rem;
    margin: 0.025em 0 0 0.1rem;
    padding: 0.025rem 0.5rem 1rem 0.5rem;
    text-align: center;
  }
}

/* Projects Card */

.project {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
}

.project .name-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.project .name-link-wrapper .links {
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
}

.project-desc {
  line-height: 1rem;
}

.project-stars-forks {
  fill: $text-color;
  font-family: $font-family-numbers;
}

.tag-wrapper {
  margin: 0.75rem 0 0 0;
}

.tag {
  border-radius: 0.25rem;
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

/* Contact Card */

.contact-icons {
  display: flex;
  justify-content: center;

  .social-link {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    text-align: center;
    width: 3rem;

    .social {
      font-size: 1.5rem;
    }

    .social-svg {
      fill: $accent-color;
    }

    &:hover {
      cursor: pointer;
      animation: jump 1s infinite alternate;

      .social-svg {
        fill: $social-icon-fill;
      }
    }
  }

  .black:hover {
    .social-svg {
      fill: $social-black-icon;
    }
  }

  .linkedin:hover {
    .social-svg {
      fill: #007bb6;
    }
  }

  .twitter:hover {
    .social-svg {
      fill: #1da1f2;
    }
  }
}

/* Media Queries */

@media only screen and (min-width: $small-screen) {
  .layout {
    margin: 1rem auto;
    padding: 2rem 2rem;
  }

  .layout .card .subtitle {
    font-size: 1.25rem;
  }

  .layout .card .description {
    font-size: 1.25rem;
  }

  .landing-title h1 {
    font-size: 3rem;
  }

  .landing-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }

  #skills {
    div[skill-weight="1"] {
      font-size: 0.75rem;
      line-height: 0rem;
    }

    div[skill-weight="2"] {
      font-size: 1.5rem;
      line-height: 0.5rem;
    }

    div[skill-weight="3"] {
      font-size: 2.25rem;
      line-height: 1.25rem;
    }

    div[skill-weight="4"] {
      font-size: 3.75rem;
      line-height: 2.75rem;
    }

    div[skill-weight="5"] {
      font-size: 6rem;
      line-height: 5rem;
    }

    .filter-button {
      border-radius: 0.25rem;
      cursor: pointer;
      display: unset;
      margin: 0 0.25rem 1rem;
      padding: 0.25rem 0.5rem;
      text-align: center;
      width: 21%;
      transition: 0.75s;

      &:hover {
        letter-spacing: 0.2rem;
        transition: 0.75s;
      }
    }
    
    input[id="language"]+ .filter-button {
      &:hover{
        color: $skill-color-language;
      }
    }

    input[id="framework"]+ .filter-button {
      &:hover{
        color: $skill-color-framework;
      }
    }

    input[id="tool"]+ .filter-button {
      &:hover{
        color: $skill-color-tool;
      }
    } 

    @mixin filter-out {
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 0;
      transition: opacity 0s;
    }

    input[id="all"]:checked + .filter-button {
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }
    
    input[id="language"]:checked + .filter-button {
      color: $skill-color-language;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="language"]:checked ~ input[id="framework"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-framework;
      }
    }

    input[id="language"]:checked ~ input[id="tool"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-tool;
      }
    }

    input[id="framework"]:checked + .filter-button {
      color: $skill-color-framework;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="framework"]:checked ~ input[id="language"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-language;
      }
    }

    input[id="framework"]:checked ~ input[id="tool"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-tool;
      }
    }

    input[id="tool"]:checked+ .filter-button {
      color: $skill-color-tool;
      font-weight: $font-weight-strong;
      @include neumorphism-button-pressed();
    }

    input[id="tool"]:checked ~ input[id="language"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-language;
      }
    }

    input[id="tool"]:checked ~ input[id="framework"] + .filter-button {
      color: $text-color;
      &:hover{
        color:$skill-color-framework;
      }
    }

    input[id="all"]:checked ~ input[id="language"] + .filter-button {
      color: $skill-color-language;
    }

    input[id="all"]:checked ~ input[id="framework"] + .filter-button {
      color: $skill-color-framework;
    }

    input[id="all"]:checked ~ input[id="tool"] + .filter-button {
      color: $skill-color-tool;
    }

    input[id="language"]:checked ~ div[skill-type="framework"],
    input[id="language"]:checked ~ div[skill-type="tool"] {
      @include filter-out;
    }

    input[id="framework"]:checked ~ div[skill-type="language"],
    input[id="framework"]:checked ~ div[skill-type="tool"] {
      @include filter-out;
    }

    input[id="tool"]:checked ~ div[skill-type="language"],
    input[id="tool"]:checked ~ div[skill-type="framework"] {
      @include filter-out;
    }
  }

  .timeline-wrapper {
    .timeline {
      margin: 0 auto;
      width: 39.25rem;
    }

    .timeline li:after {
      clear: both;
      content: "";
      display: block;
    }

    .direction-l {
      float: left;
      text-align: right;
      width: 18.5rem;

      .hexagon {
        left: auto;
        right: -1.6rem;
        top: 0.4rem;
      }

      .flag-wrapper {
        display: inline-block;
        text-align: right;
      }

      .time-wrapper {
        float: left;
        margin-top: -0.1rem;
      }

      .desc {
        text-align: right;
      }
    }

    .direction-r {
      float: right;
      text-align: left;
      width: 18.5rem;

      .hexagon {
        left: -1.6rem;
        right: auto;
        top: 0.4rem;
      }

      .flag-wrapper {
        display: inline-block;
        text-align: left;
      }

      .time-wrapper {
        float: right;
        margin-top: -0.1rem;
      }

      .desc {
        text-align: left;
      }
    }
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
      width: 44%;
    }
  }

  .contact-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  .layout {
    padding: 3rem 3rem;
  }

  .layout .card {
    padding: 1rem 3rem;
  }

  #skills .filter-button {
    width: 21.5%;
  }

  .timeline-wrapper {
    .timeline {
      width: 49rem;
    }

    .direction-l {
      width: 23.35rem;
    }

    .direction-r {
      width: 23.35rem;
    }
  }

  .projects-wrapper {
    > * {
      width: 45%;
    }
  }
}

@media only screen and (min-width: $large-screen) {
  .layout {
    padding: 5rem 5rem;
  }

  #skills .filter-button {
    width: 22%;
  }

  .timeline-wrapper {
    .timeline {
      width: 58rem;
    }

    .direction-l {
      width: 27.9rem;
    }

    .direction-r {
      width: 27.9rem;
    }
  }

  .projects-wrapper {
    > * {
      width: 46%;
    }
  }
}

/* Reusable Animations */

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}
