<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self' 'unsafe-inline';
    font-src 'self' fonts.googleapis.com fonts.gstatic.com;
    style-src 'self' 'unsafe-inline' fonts.googleapis.com;
">
  <meta name="referrer" content="same-origin">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">
  

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>

  <link rel="preload" href="/assets/fonts/Montserrat-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/SourceSansPro-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Lora-Italic-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin="anonymous">  

</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page.html %}


<div class="hamburger-menu">
  <ul class="menu__box" id="menu-box">
    <li><a class="menu__item" href="/">
        <svg class="social-svg" height="24" width="24" >
          <use xlink:href="{{ "/assets/img/solid.svg#home" | prepend: site.baseurl }}"></use>
        </svg>
      </a></li>
    <li><a class="menu__item" href="#about-me-section">About</a></li>
    <li><a class="menu__item" href="#skills-section">Skills</a></li>
    <li><a class="menu__item" href="#timeline-section">Timeline</a></li>
    <li><a class="menu__item" href="#github-projects">Projects</a></li>
    <li><a class="menu__item" href="/blog">Blog</a></li>
    <li><a class="menu__item" href="#contact-section">Contact</a></li>
  </ul>
  <div class="menu__btn" id="menu-btn">
    <span></span>
  </div>
</div>



  <div class="layout">
    {%if site.show_aboutme_card %}
      <section class="card neumorphism-card-big">
        {% include section-aboutme.html %}
      </section>
    {% endif %}
    {%if site.show_skills_card %}
      <section class="card neumorphism-card-big">
        {% include section-skills.html %}
      </section>
    {% endif %}
    {%if site.show_timeline_card %}
      <section class="card neumorphism-card-big">
        {% include section-timeline.html %}
      </section>
    {% endif %}
    {%if site.show_projects_card %}
      <section class="card neumorphism-card-big">
        {% include section-projects.html %}
      </section>
    {% endif %}
    {%if site.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include section-contact.html %}
    </section>
    {% endif %}
  </div>
  {% include footer.html %}
</body>
</html>
